In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [11]:
df = pd.read_csv("/Users/siddharthkantamneni/Documents/FIMA_NFIP_Redacted_Claims_Data_Set/openFEMA_claims20190731.csv")

In [4]:
len(df)

2431532

In [12]:
df["amountpaidonincreasedcostofcomplianceclaim"].fillna(0,inplace = True)
df["amountpaidoncontentsclaim"].fillna(0,inplace = True)
df["amountpaidonbuildingclaim"].fillna(0,inplace = True)

In [13]:
df["sum_paid"] = df["amountpaidonincreasedcostofcomplianceclaim"]+df["amountpaidoncontentsclaim"]+df["amountpaidonbuildingclaim"]

In [7]:
df.iloc[0]

agriculturestructureindicator                         NaN
asofdate                                       2019-07-31
basefloodelevation                                    NaN
basementenclosurecrawlspacetype                         0
reportedcity                                    OCEANSIDE
condominiumindicator                                    N
policycount                                             1
countycode                                           6073
crsdiscount                                             0
dateofloss                                     1998-02-07
elevatedbuildingindicator                               N
elevationcertificateindicator                         NaN
elevationdifference                                   999
censustract                                   6.07302e+09
floodzone                                               X
houseworship                                          NaN
latitude                                             33.2
locationofcontents                                    NaN
longitude                                         -117.29
lowestadjacentgrade                                   NaN
lowestfloorelevation                                  NaN
numberoffloorsintheinsuredbuilding                      4
nonprofitindicator                                    NaN
obstructiontype                                        10
occupancytype                                           1
originalconstructiondate                       1963-01-01
originalnbdate                                 1997-01-11
amountpaidonbuildingclaim                               0
amountpaidoncontentsclaim                               0
amountpaidonincreasedcostofcomplianceclaim              0
postfirmconstructionindicator                           N
ratemethod                                              7
smallbusinessindicatorbuilding                        NaN
state                                                  CA
totalbuildinginsurancecoverage                     200000
totalcontentsinsurancecoverage                      50000
yearofloss                                           1998
reportedzipcode                                     92056
primaryresidence                                      NaN
sum_paid                                                0
Name: 0, dtype: object

In [14]:
df["longitude"] = np.round(df["longitude"],1)
df["latitude"] = np.round(df["latitude"],1)

In [15]:
dfa = df.filter(['latitude','longitude','sum_paid'], axis=1)

In [16]:
dfa.head()

   latitude  longitude  sum_paid
0      33.2     -117.3      0.00
1      29.9      -90.0      0.00
2      30.4      -86.9  10533.21
3      32.4      -80.7   2906.00
4      28.2      -80.7   5420.53

In [17]:
sum_df = df.groupby(['latitude','longitude']).agg({'sum_paid': 'sum'})

In [18]:
len(sum_df)

23978

In [19]:
mean_df = df.groupby(['latitude','longitude']).agg({'sum_paid': 'mean'})

In [20]:
mean_df.head()

                        sum_paid
latitude longitude
-14.3    -170.7      1493.706667
 13.3     144.7      3022.390000
          144.8      6439.106111
 13.4     144.6     31291.860000
          144.7     10240.155000

In [11]:
dfb =  df.filter(['reportedcity', 'zipcode','latitude','longitude','sum_paid'], axis=1)

In [12]:
sum_dfb = dfb.groupby(['latitude','longitude']);

In [13]:
#np.unique is our friend
np.unique(ls)

NameError: name 'ls' is not defined

In [21]:
sum_df.to_csv("/Users/siddharthkantamneni/Project/lat_long_sum_paid.csv")

In [22]:
mean_df.to_csv("/Users/siddharthkantamneni/Project/mean_paid.csv")